@model First.Models.Item

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col col-6">
                <h2 class="text-primary">Create new</h2>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <p class="text-muted">Make sure to fill all fields</p>
                <div asp-validation-summary="ModelOnly" class="text-danger p"></div>
            </div>
            <form method="post" asp-action="Create">

                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="ItemName"></label>
                        <input type="text" asp-for="ItemName" class="form-control" />
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Borrower"></label>
                        <input type="text" asp-for="Borrower" class="form-control" />
                        <span asp-validation-for="Borrower" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lender"></label>
                        <input type="text" asp-for="Lender" class="form-control" />
                        <span asp-validation-for="Lender" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right">
                        <a asp-action="Index" class="btn btn-dark">Go Back</a>
                        <button type="reset" class="btn btn-warning">Reset</button>
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
@section Scripts{ 
@{<partial name="_ValidationScriptsPartial" /> }
}